<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoApp</title>
</head>
<body>
    <h1>
        To Do Application
    </h1>
    <div>
        <form action="/" method="post">
            <div>
                <input type="text" name="title" placeholder="Ädd new task" required>
            </div>
            <div>
                <button type="submit">Add</button>
            </div>
        </form>
        <th:block th:each="task : ${tasks}">
            <div>
                <span th:text="${task.title}">task title</span>
                <span th:text="${task.completed}">task Completed</span>


            </div>
        </th:block>
    </div>
</body>
</html>
